In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/<your_db_name>')
connection = engine.connect()

In [ ]:
query = 'select * from titles'
df_emp_titles = pd.read_sql_query(query, con=engine)
df_emp_titles

In [ ]:
query = 'select * from salaries'
df_salaries = pd.read_sql_query(query, con=engine)
df_salaries

In [ ]:
merged = pd.merge(df_titles,df_salaries,on='emp_no')
merged.head()

In [ ]:
merged_drop = merged.drop(columns =['emp_no','from_date_x','to_date_x','from_date_y','to_date_y'])
grouped_df = merged_drop.groupby('title').mean()
grouped_df

In [ ]:
plt.hist(df['salary'])
df.hist(grid=True, bins=9)
plt.xlabel('Employees')
plt.ylabel('Common Salary')
plt.title('Common Salary for Employees',size=13)
plt.grid()
plt.savefig('Images/CommonSalaryforEmployees')

In [ ]:
plt.figure(figsize=(10,6))
plt.bar(grouped_df.index,grouped_df['salary'])
plt.xlabel('Job Title')
plt.ylabel('Average Salary ($)')
plt.title('Average Salary by Job Title',size=13)
plt.grid()
plt.savefig('Images/AvgSalarybyTitle.png')